 body{
   background-color: black;
 }

 .encabezado-peliculas{
   background-color: black;
    width: 100%;
    margin: 0%;
    color: #E03C31;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    display: flex;
 }
 .container-peliculas{
   background-color: black;
    display: flex;
    justify-content: space-between;
 }
 
 
 .container-peliculas article{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15%;
    padding: 1%;
    color: white;
  
 }
 
 
 .container-peliculas article img{
    width: 100%;
    margin: 0%;
 }
 
 
 .container-peliculas article p{
    width: 100%;
    font-size: 8px;
    margin: 1%;
 }
 
 
 .titulo_pelicula{
    background-color: #E03C31;
    width: 100%;
    margin: 0%;
    font-size: 12px;
    color: black;
 }
 
 
 .genero-pelicula{
    background-color: gray;
    color: white;
    margin: 0%;
    padding: 1%;
 }
 
 .encabezado-actores{
   background-color: #E03C31;
   width: 100%;
   margin: 0%;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   justify-content: center;
   display: flex;
 }

 .container-actores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #E03C31;
 }
 
 
 .container-actores h3{
    font-size: 12px;
    justify-content: center;
    display: flex;
    margin: 0%;
 }
 
 .container-actores article img{
    width: 100%;
    border-radius: 100%;
    display: flex;   
 }
 
 .container-actores p{
    font-size: 8px;
    justify-content: center;
    display: flex;
    margin: 3%;
 }

.container-festivales-series{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   width: 100%;
}

.container-festivales-series aside{
   width: 30%;
   display: flex;
   flex-direction: column;
}

.container-festivales-series section{
   width: 70%;
   display: flex;
   flex-direction: column;
}

 .container-festivales{
   display: flex;
   flex-direction: column;
   background-color: gray;
   padding-bottom: 100%;
 }

 .encabezado-festivales{
   background-color: gray;
   margin: 0%;
   display: flex;
   align-items: center;
   align-content: center;
 }

 .container-festivales article{
   display: flex;
   flex-direction: column;
   margin: 12%;
   background-color: gray;
 }

 .container-festivales img{
   margin: 0.5%;
   width: 80%;
 }

 .container-series{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: center;
   margin: 0%;
   width: 100%;
   background-color: black;
   padding-bottom: 20.2%;
 }
 
 .encabezado-series{
   background-color: black;
   width: 100%;
   margin: 0%;
   color: #E03C31;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   
 }

 .container-series article {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 25%;
   margin: 2%;
   background-color: black;
}

.container-series article h3 {
   color: #E03C31;
   margin: 0%;
}

.container-series article p{
   color: gray;
   text-align: center;
   margin: 6%;
}

.container-series article a{
   color: #E03C31;
}

.container-series img{
   margin: 10%;
   width: 100%;
   border-radius: 2%;

}

.container-series img:hover, .container-peliculas img:hover{
   filter: blur(3px);
   transform: scale(1.05);
   transition: transform 0.3s ease, filter 0.3s ease;
}


.encabezado-lomasvisto{
   background-color: black;
   color: #E03C31;
   display: flex;
   justify-content: center;
   margin: 0%;
   padding-top: 5%;
}

.container-lomasvisto{
   display: flex;
   flex-direction: row;
   background-color: black;
   margin-bottom: 3%;
}

.container-lomasvisto article{
   display: flex;
   align-content: space-between;
   margin: 1%;
   position: relative;

}

.container-lomasvisto article img{
   width: 100%;
   transition: transform 0.3s ease, filter 0.3s ease;
}

.container-lomasvisto img:hover{
   transform: scale(1.05);
   filter: blur(5px);
}

.numero {
   position: absolute;
   color: white;
   font-size: 50px;
   margin-top: 40%;
   margin-left: 40%;
   font-weight: bold;
   text-align: center;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

.container-lomasvisto article:hover .numero {
   opacity: 1; /* Esto hace que se muestre el número al pasar el ratón */
}




