body{
    background-color: rgb(0, 0, 0);
}

.titulo{
    width: 70%;
    text-align: center;
}

/* Contenedor principal */
.container-beekeeper {
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    border: solid 1px gray;
    border-radius: 15px;
    width: 80%;

}

/* Banner */
.banner {
    position: relative;
    margin-bottom: 30px;
}

.banner-image {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
}

/* Sinopsis */
.sinopsis {
    margin-bottom: 2%;
}

.sinopsis h2 {
    font-size: 2rem;
    color: #E03C31; /* Rojo Netflix */
    margin-bottom: 15px;
}

/* Elenco */
.elenco {
    margin-bottom: 30px;
}

.elenco h2 {
    font-size: 2rem;
    color: #E03C31;
    margin-bottom: 15px;
}

.elenco ul {
    list-style: none;
    padding: 0;
}

.elenco ul li {
    margin: 10px 0;
    font-size: 1.2rem;
}

/* Tráiler */
.trailer h2 {
    font-size: 2rem;
    color: #E03C31;
    margin: 1%;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 2%;
    border-radius: 2px;
}
