body{
    background-color: rgb(0, 0, 0);

}

.container-beekeeper {
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    border: solid 1px black;
    border-radius: 15px;
    width: 80%;
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 5%;

}

.titulo{
    width: 40%;

}

section h2{
    color: #E03C31;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


section article p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

section article a{
    color: rgb(99, 99, 99);
    margin-top: 0%;
}

.container-protagonistas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: black;
 }
 
 
 .container-protagonistas h3{
    font-size: 18px;
    justify-content: center;
    display: flex;
    margin: 4%;
    color: #E03C31;
 }
 
 .container-protagonistas article img{
    width: 100%;
    border-radius: 100%;
    margin-top: 1%;
 }
 
 .container-protagonistas p{
    font-size: 12px;
    justify-content: center;
    display: flex;
    margin: 3%;
 }

 .trailer{
    margin-top: 10%;
    margin-bottom: 15%;

 }

iframe{
    width: 560px;
    height: 315px;
    border: none;
    border-radius: 5%;
    box-shadow: 6px 12px 35px #E03C31;
 }



